
services:
  # --- Zookeeper ---
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOO_ALLOW_ANONYMOUS_LOGIN: "yes"
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"
    networks:
      - kafka-net

  # --- Kafka ---
  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    ports:
      - "9092:9092"
    networks:
      - kafka-net

  # --- Elasticsearch
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.9
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
    volumes:
      - esdata:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"
    healthcheck:
      test: ["CMD-SHELL", "curl -fs http://localhost:9200/_cluster/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - kafka-net

  # --- Kibana 
  kibana:
    image: docker.elastic.co/kibana/kibana:7.17.17
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    depends_on:
      elasticsearch:
        condition: service_healthy
    ports:
      - "5601:5601"
    networks:
      - kafka-net

  # --- Producer 
  producer:
    build:
      context: .
      dockerfile: Dockerfile.producer
    container_name: producer
    environment:
      - KAFKA_BOOTSTRAP=kafka:9092
      - KAFKA_TOPIC=football.raw_events
      - LIVE_SCORE_API_URL=https://livescore-api.com/api-client/scores/live.json
      - API_KEY=n43jTG7tnHWSmTdm
      - API_SECRET=XutWaHPASvvUOW1c15wVLDo9kk1Hef4b
      - POLL_INTERVAL=30
    depends_on:
      kafka:
        condition: service_started
    restart: unless-stopped
    networks:
      - kafka-net

  # --- Consumer 
  consumer:
    build:
      context: .
      dockerfile: Dockerfile.consumer
    container_name: consumer
    environment:
      - KAFKA_BOOTSTRAP=kafka:9092
      - KAFKA_TOPIC=football.raw_events
      - ES_URL=http://elasticsearch:9200
      - ES_INDEX=football_events
    depends_on:
      kafka:
        condition: service_started
      elasticsearch:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - kafka-net

volumes:
  esdata:

networks:
  kafka-net:
    driver: bridge
