version: '3.8'

networks:
  nature_events:
    driver: bridge
  default:

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ALLOW_ANONYMOUS_LOGIN: "yes"
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - nature_events

  kafka1:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka1
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 2
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka1:9092
      ALLOW_PLAINTEXT_LISTENER: "yes"
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181 
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
    depends_on:
      - zookeeper
    networks:
      - nature_events

  kafka2:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka2
    environment:
      KAFKA_BROKER_ID: 2
      ALLOW_PLAINTEXT_LISTENER: "yes"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 2
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9093
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka2:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
    ports:
      - "9093:9093"
    depends_on:
      - zookeeper
    networks:
      - nature_events

  kafka3:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka3
    environment:
      KAFKA_BROKER_ID: 3
      ALLOW_PLAINTEXT_LISTENER: "yes"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 2
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9094
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka3:9094
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
    ports:
      - "9094:9094"
    depends_on:
      - zookeeper
    networks:
      - nature_events


  # Kafka UI

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8084:8080"
    environment:
      - KAFKA_CLUSTERS_0_NAME=nature-events-cluster
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka1:9092,kafka2:9093,kafka3:9094
    depends_on:
      - kafka1
      - kafka2
      - kafka3
    networks:
      - nature_events

  init-kafka:
    build:
      context: ./scripts/kafka
      dockerfile: Dockerfile
    container_name: init-kafka
    depends_on:
      - kafka1
      - kafka2
      - kafka3
    volumes:
      - ./scripts/kafka/init_kafka.py:/scripts/init_kafka.py
    entrypoint: ["python3", "/scripts/init_kafka.py"]
    networks:
      - nature_events


  nature-consumer:
    build: ./consumers
    container_name: nature_consumer
    volumes:
      - ./consumers:/app
    depends_on:
      - kafka1
      - kafka2
      - kafka3
      - elasticsearch
    networks:
      - nature_events

  nature-producer:
    build: ./producers
    container_name: nature-producer
    depends_on:
      - kafka1
      - kafka2
      - kafka3
    networks:
      - nature_events



  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"
    networks:
      - nature_events
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200"]
      interval: 20s
      timeout: 10s
      retries: 5
  
  es-init:
    build: ./scripts/elasticsearch
    container_name: es-init
    depends_on:
      - elasticsearch
    volumes:
      - ./scripts/elasticsearch/nature_events_template.json:/nature_events_template.json
      - ./scripts/elasticsearch/init_es.sh:/init_es.sh
    entrypoint: ["/bin/sh", "/init_es.sh"]
    networks:
      - nature_events


  kibana:
    image: docker.elastic.co/kibana/kibana:8.15.0
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
    networks:
      - nature_events


  nature-api:
    build: ./api
    container_name: nature-api
    ports:
      - "8000:8000"
    environment:
      - ES_HOST=http://elasticsearch:9200
    depends_on:
      - kafka1
      - kafka2
      - kafka3
      - elasticsearch
    networks:
      - nature_events

  nature-dashboard:
    build: ./dashboard
    container_name: nature-dashboard
    ports:
      - "3000:80"
    depends_on:
      - nature-api
    networks:
      - nature_events
  streamlit:
    build:
      context: ./streamlit_app
    container_name: streamlit
    environment:
      - NATURE_API_URL=http://nature-api:8000/natures
      - POLL_SECONDS=10
    ports:
      - "8501:8501"
    depends_on:
      - nature-api
    networks:
      - nature_events

  websocket-server:
    build: ./websocket
    ports:
      - "8081:8081"
    depends_on:
      - kafka1
      - kafka2
      - kafka3
    networks:
      - nature_events